@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	/* Значення за замовченням */
	font-family: "Lato";
	color: #424551;
	background-color: #333;
	color: #fff;
	/* font-size: 16px; */
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ============================ */

.page{
	padding: 50px;
	font-size: 50px;
	text-align: center;
}